[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
python-decouple = "*"
django-filter = "*"
python-dotenv = "*"
drf-yasg = "*"
gunicorn = "*"
djoser = "*"
djangorestframework_simplejwt = ">=5.2"

[dev-packages]

[requires]
python_version = "3.11"
